class PostBoard extends React.Component{
  constructor(props){
    super(props);
    console.log('PostBoard received: ' + JSON.stringify(props));
    this.state = {
      posts: this.props.posts
    }
    this.handleNewPost = this.handleNewPost.bind(this);
    this.handleDeletePost = this.handleDeletePost.bind(this);
    this.handleEditPost = this.handleEditPost.bind(this);
  }

  /*
  handleNewPost method handles when a new post is created.
  Parameters:
    - createdPost: the post object returned from the request/response session.
  */
  handleNewPost(createdPost){
    console.log("Parent called: " + JSON.stringify(createdPost));
    this.setState(function(prevState){
      return { posts: prevState.posts.concat(createdPost)}
    });
  }

  /*
  handleDeletePost method handles when a post is deleted from the board.
  Parameters:
    - deletedPost: The post React object use to find the position on the current list
  */
  handleDeletePost(deletedPost){
    console.log("Parent called: " + JSON.stringify(deletedPost));
    this.setState(function(prevState){
      var index = prevState.posts.indexOf(deletedPost);
      if(index > -1){
        // Clone the current list because splice returns the removed element
        // and modifies the array in place
        var clonedPosts = prevState.posts.slice(0);
        clonedPosts.splice(index, 1)
        return{ posts: clonedPosts}
      }
    })
  }

  /*
  handleEditPost method handles when a post is updated.
  Parameters:
    - editedPost: the post React object use to find the position on the current list
    - response: use to update the edited post's title and body
  */
  handleEditPost(editedPost, response){
    console.log("Parent called: " + JSON.stringify(editedPost));
    this.setState(function(prevState){
      var index = prevState.posts.indexOf(editedPost);
      console.log(index);
      if(index > -1)
      {
        var clonedPosts = prevState.posts.slice(0);
        editedPost.title = response.title
        editedPost.body = response.body
        clonedPosts[index] = editedPost;
        return{ posts: clonedPosts }
      }
    })
  }

  render(){
    const postList = this.state.posts.map(function(post){
      return React.createElement(Post, {key: post.id, post: post, parentDeletePost: this.handleDeletePost, parentEditPost: this.handleEditPost} )
    }.bind(this));
    const postForm = React.createElement(PostForm, {parentCallBack: this.handleNewPost})
    return(
      <div className='container'>
        <div>
          <h1 className='heading'>Posts and Discussions</h1>
        </div>
        <hr/>
        <h1 className='heading'>New Post</h1>
        {postForm}
        <hr/>
        {postList}
      </div>
    );
  }
}
