class Post extends React.Component{
  
  constructor(props){
    super(props);
    console.log('Post received: ' + JSON.stringify(props));
    this.toggleExpand = this.toggleExpand.bind(this);
    this.toggleEdit = this.toggleEdit.bind(this);
    this.handleEdit = this.handleEdit.bind(this);
    this.handleDelete = this.handleDelete.bind(this);
    this.getBoard = this.getBoard.bind(this);
    this.state = {
      expand: false,
      edit: false,
    }
    this.postForm = this.postForm.bind(this);
    this.postRead = this.postRead.bind(this);
  }

 /*
 toggleExpand method toggles the current state of the expand attribute
 */
  toggleExpand(e){
    e.preventDefault();
    this.setState(function(prevState){
      return {
        expand: !(prevState.expand)
      };
    })
  }

/*
toggleEdit method toggles the current state of the edit attribute for
controlling whether it's a read-only or editable post.
*/
  toggleEdit(e){
    e.preventDefault();
    this.setState(function(prevState){
      return {
        edit: !(prevState.edit)
      };
    })
  }

/*
handleEdit method uses the editable form and ref.title + ref.body DOM
elements of the form as the payload for the PATCH request.
Issues: PATCH /posts/:id
Success: Invoke parent callback to update post board
Failure: Log the failure
*/
  handleEdit(e){
    e.preventDefault();
    var url = '<%=posts_path%>/' + this.props.post.id
    var payload = {
      title: ReactDOM.findDOMNode(this.refs.title).value,
      body: ReactDOM.findDOMNode(this.refs.body).value
    }
    $.ajax({url: url,
            type: "PATCH",
            data: {post: payload},
            dataType: "JSON"}).success(function(data){
              console.log("Update Success! " + JSON.stringify(data));
              this.setState(function(prevState){
               return { edit: !(prevState.edit) }
             });
             this.props.parentEditPost(this.props.post, data);
            }.bind(this)).fail(function(data){
              console.log("Update Failed:  " + JSON.stringify(data));
            });
  }
/*
handleDelete deletes the selected post.
Issues: DELETE /posts/:id
SUCCESS: Invoke parent callback to delete post from PostBoard
FAILURE: Log result
*/
  handleDelete(e){
    e.preventDefault();
    if( confirm('Delete post?')){
      var url = '<%=posts_path%>/' + this.props.post.id
      $.ajax({ url: url,
               type: 'DELETE'}).success(function(data){
                 console.log("Delete Success! " + JSON.stringify(data));
                 this.props.parentDeletePost(this.props.post)
               }.bind(this)).fail(function(data){
                 console.log("Delete Failed: " + JSON.stringify(data));
               });
    }
    else{ }
  }

  getBoard(){
    var board = null;
    if(this.state.expand){
      board = React.createElement(DiscussionBoard, {post: this.props.post});
    }
    return board;
  }

  postRead(){
    return(
      <div className='container-fluid'>
        <div>
          <h2 className='title'>{this.props.post.title}</h2>
        </div>

        <div>
          <div>
            <h3 className='body'>{this.props.post.body}</h3>
          </div>
          <div className ='row'>
            <div className ='col-md-4'>Priority: {this.props.post.priority}</div>
            <div className ='col-md-4'>Updated: {readableTime(this.props.post.updated_at)}</div>
            <div className ='col-md-4'>Created: {readableTime(this.props.post.created_at)}</div>
          </div>
        </div>
        {/* Post actions */}
        <div>
          <div className ='btn btn-default' onClick={this.toggleExpand}>{this.state.expand ? 'Collapse' : 'Expand' }</div>
          <div className ='btn btn-default' onClick={this.toggleEdit}>Edit</div>
          <div className ='btn btn-danger' onClick={this.handleDelete}>Delete</div>
        </div>

        <div>
          {this.getBoard()}
        </div>
        <hr/>
      </div>
    );
  }

  postForm(){
    return(
      <div className='container-fluid'>
        <div className='row'>
          <input className='form-control' type='text' defaultValue={this.props.post.title} ref='title'/>
        </div>

        <div>
          <div>
            <div className='row'>
              <textarea rows='4' className='form-control' type='text' defaultValue={this.props.post.body} ref='body'/>
            </div>
          </div>
          <div className ='row'>
            <div className ='col-md-4'>Priority: {this.props.post.priority}</div>
            <div className ='col-md-4'>Updated: {readableTime(this.props.post.updated_at)}</div>
            <div className ='col-md-4'>Created: {readableTime(this.props.post.created_at)}</div>
          </div>
        </div>
        {/* Post actions */}
        <div>
          <div className ='btn btn-default' onClick={this.toggleExpand}>{this.state.expand ? 'Collapse' : 'Expand' }</div>
          <div className ='btn btn-success' onClick={this.handleEdit}>Done</div>
          <div className ='btn btn-danger' onClick={this.toggleEdit}>Cancel</div>
        </div>

        <div>
          {this.getBoard()}
        </div>
        <hr/>
      </div>
    );
  }

  render(){
    if(this.state.edit)
      return this.postForm();
    else
      return this.postRead();
  }
}
