// PostForm Component handles the create view of a post.
// 1. Renders the form.
// 2. Issues AJAX request to Rails backend on submit
// 3. Let the parent know to update if success
// 4. Reset back to default state.
class PostForm extends React.Component{
  constructor(props){
    super(props)
    this.valid = this.valid.bind(this);
    this.state = this.initialState();
    this.handleChange = this.handleChange.bind(this);
    this.handleSubmit = this.handleSubmit.bind(this);
  }

  initialState(){
    return { title: '', body: '' , priority: 'normal' }
  }

  priorityList(){
    var priorities = JSON.parse('<%= Post.priorities.keys.to_json %>')
    var listItems = priorities.map(function(item, index){
      return (
        <option value={item} key={index}>{item}</option>
      )
    });
    return listItems;
  }

  handleChange(e){
    e.preventDefault();
    this.setState({ [e.target.name]: e.target.value })
  }

  valid(){
    return this.state.title && this.state.body
  }

  handleSubmit(e){
    e.preventDefault();
    var url = '<%= posts_path %>'
    var payload = { post: this.state }
    console.log(url)
    $.post( url, payload, function(data){
      console.log("Success!" + JSON.stringify(data));
      this.props.parentCallBack(data);
      this.setState(this.initialState());
    }.bind(this), "JSON").fail(function(data){
      console.log("Something went wrong. " + JSON.stringify(data));
    });
  }

  render(){
    const priorityList = this.priorityList();
    return(
      <form className='form-horizontal' role='form' onSubmit={this.handleSubmit}>
        <div className='form-group'>
          <label className='col-sm-2 control-label'>Title</label>
          <div className='col-sm-10'>
            <input type='text' className='form-control' placeholder='Title' name='title' value={this.state.title} onChange={this.handleChange}/>
          </div>
        </div>

        <div className='form-group'>
          <label className='col-sm-2 control-label'>Description</label>
          <div className='col-sm-10'>
            <textarea className='form-control' rows='3' placeholder='Blah blah blah...' name='body' value={this.state.body} onChange={this.handleChange}/>
          </div>
        </div>

        <div className='form-group'>
          <label className='col-sm-2 control-label'>Priority</label>
          <div className='col-sm-10'>
            <select className='form-control' name='priority' value={this.state.priority} onChange={this.handleChange} >
              {priorityList}
            </select>
          </div>
        </div>

        <div className='form-group'>
          <div className='col-sm-2'/>
          <div className='col-sm-8'>
            <button type='submit' className='btn btn-primary btn-lg btn-block' disabled={!this.valid()}>Post</button>
          </div>
          <div className='col-sm-2'/>
        </div>

      </form>
    )
  }
}
