// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.title{
  color: blue;
}

h3.body{
  color: green;
}

div.container-fluid{
  border:1px solid #cecece;
}

div.discussionGroup{
  padding-left: 20px;
}

.table-bordered > tbody > tr > td.child-cell{
  padding-left: 40px;
  color: purple;
}

.table-bordered > tbody> tr> td.parent-cell{
  color: grey;
}
